accelerate
aiohttp
alias-free-torch
audiocraft
av
cloudpickle
colorlog
descript-audio-codec
descript-audiotools
diffusers
dora_search
einops
einops-exts
einx
flashy
kaldiio
lameenc
nnAudio
omegaconf
opencv-python
openunmix
peft
pypinyin
submitit
torch
torchaudio
torchvision
tqdm
treetable
triton
vector_quantize_pytorch
x-transformers
xformers
gguf

